#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(236 242 242);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
