.weatherDataViewWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .weatherDataViewWrapper {
    flex-direction: row;
    margin: 60px 0;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .weatherDataViewWrapper {
    flex-wrap: nowrap;
  }
}
